body, h3, h2, h1, p {
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  height: 40px;
}

.pd-cstm-sms-con {
  padding: 1.57142857em 0;
}

.bg-light-green {
  background-color: #16D173;
}

.form-wrapper {
  border-radius: 10px;
}

.mgn-tp-0 {
  margin-top: 0px!important;
}


.clr-green {
  color: #39B54A!important;
}

.bg-main {
  background-image: url(../img/houzzie/bg-main.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-secondary {
  background-image: url(../img/houzzie/onboarding-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-wrapper {
  background-color: white;
  padding: 25px 15px;
}

.fnt-w8-700 {
  font-weight: 700;
}


.border-green {
  border: 1px solid #39B54A;
  border-radius: 10px;
}

.input-form-styl {
  border-radius: 0px 10px 10px 0px!important;
  background-color: white!important;
}

.underline {
  text-decoration: underline;
}

.signup-btn {
  width: 100%;
  border-radius: 10px;
  background-color: #16D173;
  border-color: #16D173;
  color: white;
  font-size: 15px;
}

.width-20 {
  width: 20%;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.mgn-tp-45 {
  margin-top: 45%!important;
}

.helper-text {
  font-size: 10px;
  color: white;
  font-weight: 400;
  margin-top: 30px; 
}

.fnt-16 {
  font-size: 16px;
}

.right-btm-btn {
  background-color: green;
  padding: 15px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  color: white!important;
  font-size: 16px;
  margin-top: 25px;
  margin-right: -15px;
}

.cstm-clr-header {
  color: #4D4D4D;
}

.clr-green {
  color: #16D173;
}


.otp-input-form {
    padding-left: 0em!important;
}

.no-pad {
  padding-left: 5px;
  padding-right: unset;
}

.mgn-tp--10px {
  margin-top: -10px;
}

.fnt-25 {
  font-size: 25px;
}

.text-styl {
  line-height: 1.357143em;
  color: #808080;
}

.sticky-footer-nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 90%;
  right: 10px;
  padding: 15px 0px;
  left: 18px;
  border-radius: 30px 30px 0px 0px;
}

.cstm-bdr-radius {
  border-radius: 90px;
}


.fnt-w8-800 {
  font-weight: 800;
}

.header-styl {
  color: #4D4D4D;
  line-height: 1.2em;
}



/* SMS CONFIRMATION ANGULAR APP STYLING */

.content .form-otp h1 {
  color: #ffffff;
  margin-top: 80px;
  font-weight: 700;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);
}
.content .input-code {
  display: flex;
  flex-direction: auto;
  justify-content: space-around;
  align-content: space-between;
}
.content .otp-number-input {
  background-color: transparent;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  outline: none;
  width: 10%;
  transition: all .2s ease-in-out;
  border-radius: unset!important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}
.content .otp-number-input:focus {
  border-bottom: 5px solid #FDBD10;
}
.content .otp-number-input::selection {
  background: transparent;
}
.content .verif-b-orange {
  border-bottom: 5px solid #FDBD10;
}

/* END SMS CONFIRMATION ANGULAR APP STYLING */