body, h3, h2, h1, p {
  font-family: 'Montserrat', sans-serif;
}

.form-control {
  height: 40px;
}

.bar {
  padding: 0.15714286em 0;
}

.cstm-height {
  padding: 0.5em 0em;
}

.pd-cstm-sms-con {
  padding: 1.57142857em 0;
}

.bg-light-green {
  background-color: #16D173;
}

.form-wrapper {
  border-radius: 10px;
}

.mgn-tp-0 {
  margin-top: 0px!important;
}

.mgn-tp-20px {
  margin-top: 12px;
}

.slice-4-sides {
  padding-right: 11px;
  padding-left: 11px;
}

.transparent-bg {
  background-color: transparent;
}

.menu-toggle i {
  font-size: 2.28571429em;
  color: #fff;
}

.ctsm-icon-search {
  border-radius: 20px;
}

.pd-tp-20 {
  padding-top: 10px;
}


.pd-btm-10 {
  padding-bottom: 10px;
}

.cstm-mgn-btm-dm {
  margin-bottom: 0.55714286em!important;
}



.back-btn-1-tp {
  position: absolute;
  top: 20px;
  font-size: 25px;
  color: white!important;
  margin-left: 20px;
}

.clr-green {
  color: #39B54A!important;
}
.clr-white {
  color: white;
}

.bg-main {
  background-image: url(../img/houzzie/bg-main.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-secondary {
  background-image: url(../img/houzzie/onboarding-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-green-img {
  background-image: url(../img/houzzie/bg-green.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.bg-tetiary {
  background-image: url(../img/houzzie/bg-tetiary.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.form-wrapper {
  background-color: white;
  padding: 25px 15px;
}

.fnt-w8-700 {
  font-weight: 700;
}


.border-green {
  border: 1px solid #39B54A;
  border-radius: 10px;
}

.input-form-styl {
  border-radius: 0px 10px 10px 0px!important;
  background-color: white!important;
}

.underline {
  text-decoration: underline;
}

.signup-btn {
  width: 100%;
  border-radius: 10px;
  background-color: #16D173;
  border-color: #16D173;
  color: white;
  font-size: 15px;
}

.btn-1 {
  background-color: #16D173;
  padding: 8px 20px;
  font-size: 15px!important;
  color: white!important;
  border-radius: 10px;
  font-weight: 500;
}

.width-5 {
  width: 4%!important;
}

.width-10 {
  width: 10%!important;
}

.width-15 {
  width: 15%!important;
}


.width-20 {
  width: 20%!important;
}

.width-25 {
  width: 25%;
}

.width-30 {
  width: 30%;
}

.width-40 {
  width: 40%;
}

.width-50 {
  width: 50%;
}

.width-60 {
  width: 60%;
}

.width-70 {
  width: 70%;
}

.width-80 {
  width: 80%;
}

.mgn-tp-15 {
  margin-top: 15%!important;
}

.mgn-tp-20 {
  margin-top: 20%!important;
}

.mgn-tp-45 {
  margin-top: 45%!important;
}

.helper-text {
  font-size: 10px;
  color: white;
  font-weight: 400;
  margin-top: 30px; 
}

.fnt-10 {
  font-size: 10px;
}

.fnt-11 {
  font-size: 11px;
}

.fnt-12 {
  font-size: 12px;
}
.fnt-14 {
  font-size: 14px;
}

.fnt-16 {
  font-size: 16px;
}

.fnt-20 {
  font-size: 20px;
}

.fnt-25 {
  font-size: 25px;
}

.right-btm-btn {
  background-color: #16D173;
  padding: 15px 30px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  color: white!important;
  font-size: 16px;
  margin-top: 25px;
  margin-right: -15px;
}

.right-btm-btn:hover {
  background-color: white;
  padding: 15px 30px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  color: #16D173!important;
  border:2px solid #16D173;
  font-size: 16px;
  margin-top: 25px;
  margin-right: -15px;
}

.right-btm-btn-inv:hover {
  background-color: #16D173;
  padding: 15px 30px;
  float: right;
  border-radius: 30px 0px 0px 30px;
  color: white!important;
  font-size: 16px;
  transition: 0.7;
  border:2px solid white;
  margin-top: 25px;
  margin-right: -15px;
}

.right-btm-btn-inv {
  background-color: white;
  padding: 15px 30px;
  float: right;
  transition: 0.7;
  border-radius: 30px 0px 0px 30px;
  color: #16D173!important;
  font-size: 16px;
  margin-top: 25px;
  margin-right: -15px;
}

.mgn-btm-0 {
  margin-bottom: 0px!important;
}

.tabs {
  border: unset;
  margin-bottom: unset;
  margin-top: 20px;
  margin-left: -15px;
}

.mgn-btm-10px {
  margin-bottom: 10px;
}

.tabs-content {
  padding: 20px 35px;
  margin-left: -30px!important;
  margin-right: -30px!important;
  background-color: #fff;
  border-radius: 30px;
}


.pie-wrapper .label {
  left: 0.3em!important;
}

.card-cstm {
  padding: 15px;
  border-radius: 10px;
}

.card-cstm-dm-prof {
  padding: 15px;
  border-radius: 30px;
  margin-left: -15px;
  margin-right: -15px;
}

.display-flex {
  display: flex;
}

.landing-header {
  margin-bottom: 0em!important;
}

.dm-type-styl {
  background-color: white!important;
  margin-bottom: 1px!important;
  padding: 10px 12px;
  border-radius: 10px;
}

.cstm-pd-col {
  padding: 0px 3px!important;
}



.cstm-clr-header {
  color: #4D4D4D;
}

.clr-green {
  color: #16D173;
}

.clr-black {
  color: black!important;
}


.otp-input-form {
    padding-left: 0em!important;
}

.no-pad {
  padding-left: 5px;
  padding-right: unset;
}

.mgn-tp--10px {
  margin-top: -10px;
}

.mgn-tp--20px {
  margin-top: -20px;
}

.mgn-tp--60px {
  margin-top: -60px;
}

.mgn--15-side {
  margin-left: -15px;
  margin-right: -15px;
}


.text-styl {
  line-height: 1.357143em;
  color: #808080;
}

.dm-profile-avatar {
  margin-top: 12%;
}

.cstm-avatar-border {
  border: 4px solid #fff;
  border-radius: 100px;
}

.sticky-footer-nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 90%;
  right: 10px;
  padding: 15px 0px;
  left: 18px;
  border-radius: 30px 30px 0px 0px;
}

.sticky-footer-nav-inv {
  background-color: #16D173;
  position: fixed;
  bottom: 0;
  width: 90%;
  right: 10px;
  padding: 10px 0px 0px 0px;
  left: 18px;
  border-radius: 30px 30px 0px 0px;
}

.sticky-footer-nav-inv img {
  width: 50%;
}

.cstm-bdr-radius {
  border-radius: 90px;
}

.fnt-w8-500 {
  font-weight: 500;
}
.fnt-w8-600 {
  font-weight: 600;
}
.fnt-w8-700 {
  font-weight: 700;
}

.fnt-w8-800 {
  font-weight: 800;
}

.header-styl {
  color: #4D4D4D;
  line-height: 1.2em;
}

.tab__title {
  font-size: 14px;
  text-align: center!important;
}

.tabs li.active .tab__title span {
  color: #16d173;
  border-bottom: 2px solid #16d173;
}


/* SMS CONFIRMATION ANGULAR APP STYLING */

.content .form-otp h1 {
  color: #ffffff;
  margin-top: 80px;
  font-weight: 700;
  text-shadow: 4px 4px 4px rgba(255, 255, 255, 0.2);
}
.content .input-code {
  display: flex;
  flex-direction: auto;
  justify-content: space-around;
  align-content: space-between;
}
.content .otp-number-input {
  background-color: transparent;
  text-align: center;
  line-height: 80px;
  font-size: 20px;
  outline: none;
  width: 10%;
  transition: all .2s ease-in-out;
  border-radius: unset!important;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
}
.content .otp-number-input:focus {
  border-bottom: 5px solid #FDBD10;
}
.content .otp-number-input::selection {
  background: transparent;
}
.content .verif-b-orange {
  border-bottom: 5px solid #FDBD10;
}

/* END SMS CONFIRMATION ANGULAR APP STYLING */



/* STAR RATING STYLING */
.star-ratings-css {
  unicode-bidi: bidi-override;
  font-size: 20px;
  height: 25px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0;
  text-shadow: 0px 1px 0 #a2a2a2;
}
.star-ratings-css-top {
  color: #e7711b;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
}
.star-ratings-css-bottom {
  padding: 0;
  display: block;
  z-index: 0;
}
.star-ratings-sprite {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  font-size: 0;
  height: 21px;
  line-height: 0;
  overflow: hidden;
  text-indent: -999em;
  width: 110px;
  margin: 0 auto;
}
.star-ratings-sprite-rating {
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/2605/star-rating-sprite.png") repeat-x;
  background-position: 0 100%;
  float: left;
  height: 21px;
  display: block;
}




*,
*:before,
*:after {
  box-sizing: border-box;
}

.set-size {
  font-size: 6em;
  margin-left: -15px!important;
}

.charts-container:after {
  clear: both;
  content: '';
  display: table;
}

.pie-wrapper {
  height: 1em;
  width: 1em;
  float: left;
  position: relative;
}
.pie-wrapper:nth-child(3n + 1) {
  clear: both;
}
.pie-wrapper .pie {
  height: 100%;
  width: 100%;
  clip: rect(0, 1em, 1em, 0.5em);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .pie .half-circle {
  height: 100%;
  width: 100%;
  border: 0.1em solid #3498db;
  border-radius: 50%;
  clip: rect(0, 0.5em, 1em, 0);
  left: 0;
  position: absolute;
  top: 0;
}
.pie-wrapper .label {
  background: #34495e;
  border-radius: 50%;
  bottom: 0.4em;
  color: #ecf0f1;
  cursor: default;
  display: block;
  font-size: 0.25em;
  left: 0.4em;
  line-height: 2.8em;
  position: absolute;
  right: 0.4em;
  text-align: center;
  top: 0.4em;
}
.pie-wrapper .label .smaller {
  color: #bdc3c7;
  font-size: .45em;
  padding-bottom: 20px;
  vertical-align: super;
}
.pie-wrapper .shadow {
  height: 100%;
  width: 100%;
  border: 0.1em solid #bdc3c7;
  border-radius: 50%;
}
.pie-wrapper.style-2 .label {
  background: none;
  color: #7f8c8d;
}
.pie-wrapper.style-2 .label .smaller {
  color: #bdc3c7;
}
.pie-wrapper.progress-30 .pie .half-circle {
  border-color: #3498db;
}
.pie-wrapper.progress-30 .pie .left-side {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.pie-wrapper.progress-30 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-60 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-60 .pie .half-circle {
  border-color: #9b59b6;
}
.pie-wrapper.progress-60 .pie .left-side {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.pie-wrapper.progress-60 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-90 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-90 .pie .half-circle {
  border-color: #e67e22;
}
.pie-wrapper.progress-90 .pie .left-side {
  -webkit-transform: rotate(324deg);
          transform: rotate(324deg);
}
.pie-wrapper.progress-90 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-45 .pie .half-circle {
  border-color: #1abc9c;
}
.pie-wrapper.progress-45 .pie .left-side {
  -webkit-transform: rotate(162deg);
          transform: rotate(162deg);
}
.pie-wrapper.progress-45 .pie .right-side {
  display: none;
}
.pie-wrapper.progress-75 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-75 .pie .half-circle {
  border-color: #8e44ad;
}
.pie-wrapper.progress-75 .pie .left-side {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.pie-wrapper.progress-75 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.pie-wrapper.progress-95 .pie {
  clip: rect(auto, auto, auto, auto);
}
.pie-wrapper.progress-95 .pie .half-circle {
  border-color: #e74c3c;
}
.pie-wrapper.progress-95 .pie .left-side {
  -webkit-transform: rotate(342deg);
          transform: rotate(342deg);
}
.pie-wrapper.progress-95 .pie .right-side {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.pie-wrapper--solid {
  border-radius: 50%;
  overflow: hidden;
}
.pie-wrapper--solid:before {
  border-radius: 0 100% 100% 0 / 50%;
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  -webkit-transform-origin: left;
          transform-origin: left;
}
.pie-wrapper--solid .label {
  background: transparent;
}
.pie-wrapper--solid.progress-65 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #e67e22), color-stop(50%, #34495e));
  background: linear-gradient(to right, #e67e22 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-65:before {
  background: #e67e22;
  -webkit-transform: rotate(126deg);
          transform: rotate(126deg);
}
.pie-wrapper--solid.progress-25 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #9b59b6), color-stop(50%, #34495e));
  background: linear-gradient(to right, #9b59b6 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-25:before {
  background: #34495e;
  -webkit-transform: rotate(-270deg);
          transform: rotate(-270deg);
}
.pie-wrapper--solid.progress-88 {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, #3498db), color-stop(50%, #34495e));
  background: linear-gradient(to right, #3498db 50%, #34495e 50%);
}
.pie-wrapper--solid.progress-88:before {
  background: #3498db;
  -webkit-transform: rotate(43.2deg);
          transform: rotate(43.2deg);
}