body, h3, h2, h1, p {
  font-family: 'Montserrat', sans-serif;
}

.bg-light-green {
  background-color: #16D173;
}

.form-wrapper {
  border-radius: 10px;
}

.clr-green {
  color: #39B54A!important;
}

.bg-main {
  background-image: url(../img/houzzie/bg-main.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.form-wrapper {
  background-color: white;
  padding: 15px;
}


.border-green {
  border: 1px solid #39B54A;
  border-radius: 10px;
}

.input-form-styl {
  border-radius: 0px 10px 10px 0px!important;
  background-color: white!important;
}

.underline {
  text-decoration: underline;
}

.signup-btn {
  width: 100%;
  border-radius: 10px;
  background-color: #16D173;
  border-color: #16D173;
  color: white;
  font-size: 15px;
}

.width-20 {
  width: 20%;
}

.width-30 {
  width: 30%;
}

.width-50 {
  width: 50%;
}

.mgn-tp-45 {
  margin-top: 45%!important;
}

.helper-text {
  font-size: 10px;
  color: white;
  font-weight: 400;
  margin-top: 30px; 
}

.cstm-clr-header {
  color: #4D4D4D;
}

.no-pad {
  padding-left: 5px;
  padding-right: unset;
}

.mgn-tp--10px {
  margin-top: -10px;
}

.fnt-25 {
  font-size: 25px;
}

.text-styl {
  line-height: 1.357143em;
  color: #808080;
}

.sticky-footer-nav {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 90%;
  right: 10px;
  padding: 15px 0px;
  left: 18px;
  border-radius: 30px 30px 0px 0px;
}

.cstm-bdr-radius {
  border-radius: 90px;
}


.fnt-w8-800 {
  font-weight: 800;
}

.header-styl {
  color: #4D4D4D;
  line-height: 1.2em;
}